<form method="post" action="return false;" onsubmit="javascript:return false;">
<input type="text" id="todotext" name="activity" placeholder="Enter Your ToDo Here"  >
<input type="submit" value="create" id="submittodo">
</form>
<div id="list" style="height:200px;width:200px;border:1px solid black;">

	</div>