<form method="post" action="return false" onsubmit="javascript:return false;" >
<input type="text" id="todoactivity" ><br>
<input type="submit" id="submitactivity" ><br>
	</form> 


<br>
<button id="showlist">Show Todos </button>
<div id="todolist">
	<div class="listbox"></div>
</div>